@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    background: radial-gradient(circle, #121212, #363533);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-left: 20px;
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

h2 {
    margin: 0; 
    color: white;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
}

p {
    margin: 0; 
    margin-right: 20px;
    color: white;
}

.hero {
    position: relative;
    width: 100%;
    height: 90vh; 
    background-image: url('../public/images/img1.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-form {
    margin-right: 30px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 999; 
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    width: 100%;
}

.close {
    color: #f02929;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-link {
    text-decoration: none;
    color: white;
}

.list-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-todo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .title{
        margin-top: 10px;
        flex-direction: column;
    }

    .logo {
        margin-right: 230px;
    }

    .link-todo {
        margin-left: 220px;
        margin-top: -36px;
    }

    .title p{
        font-size: 15px;
    }

    .logo-img {
        width: 30px;
    }

    .hero {
        height: auto;
    }

    .hero-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-form {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .modal-content {
        max-width: 90%;
    }
}
